@using MiPrimerMVC.Models
@model MiPrimerMVC.Models.RegisterModel

@{
    ViewBag.Title = "title";
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Sales|Register </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="~/TmpLogin/styles/bootstrap.min.css" rel="stylesheet" />
    <link href="~/TmpLogin/styles/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="~/TmpLogin/css/preview.min.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css' />
    <link href="~/TmpLogin/styles/font-awesome.min.css" rel="stylesheet" />

    <!--[if IE 7]>
        <link href="~/TmpLogin/styles/font-awesome-ie7.min.css" rel="stylesheet" />
    <![endif]-->
    <!--[if IE 8]>
        <style type="text/css">
        .navbar-inner{
            filter:none;
        }
         </style>
        <![endif]-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    <div class="divider large visible-desktop"></div>
    <div class="row-fluid" id="demo-1">
        <div class="span10 offset1">
            <div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow track-url auto-scroll">
                <ul class="nav nav-tabs">
                    <li><a href="~/Classifieds/MostVisited" style="background-color:black; border: whitesmoke"><i class=" icon-home" style="color:white"></i></a></li>
                    <li><a href="~/AccountLogin/Login" ><i class="icon-lock"></i>&nbsp;<span>Login Panel</span></a></li>
                    <li class="active"><a href="#panel2"><i class="icon-user"></i>&nbsp;<span>Register Panel</span></a></li>
                    <li><a href="~/ForgotPassword/ForgotPassword" ><i class="icon-key"></i>&nbsp;<span>Forgot Password</span></a></li>
                    <li><a href="~/Contact/Contact" ><i class="icon-envelope-alt"></i>&nbsp;<span>Contact Us</span></a></li>
                </ul>
                <div class="tab-content ">
                    <div class="tab-pane" id="panel1">
                  
                    </div>
                    <div class="tab-pane active" id="panel2">
                        <div class="row-fluid">
                            <div class="span5">
                                <h4><i class="icon-user"></i>&nbsp;&nbsp; Register Here</h4>
                                @using (Html.BeginForm("Register", "Register", null, FormMethod.Post, new { @class = "form-horizontal" }))
                                {
                                    @Html.AntiForgeryToken()
                                     @Html.ValidationSummary(true)
                                    
                                    <label>Email</label>
                                    @Html.TextBoxFor(x => x.Email, new { @class = "input-block-level", placeholder = "First.Last@example.com"})
                                    <label style="color:red">@Html.ValidationMessageFor(x=>x.Email)</label>
                                    <label>Full Name</label>
                                    @Html.TextBoxFor(x => x.Name, new { @class = "input-block-level"})
                                    <label style="color:red">@Html.ValidationMessageFor(x=>x.Name)</label>
                                    <label>Password </label>
                                    @Html.PasswordFor(x => x.Password, new { @class = "input-block-level"})
                                    <label style="color:red">@Html.ValidationMessageFor(x=>x.Password)</label>
                                    <label>Repeat Password</label>
                                    @Html.PasswordFor(x => x.ConfirmPassword, new { @class = "input-block-level" })
                                    <label style="color:red">@Html.ValidationMessageFor(x=>x.ConfirmPassword)</label>

                                     <label>
                                        <button type="button" data-toggle="button" class="btn btn-mini custom-checkbox active"><i class="icon-ok"></i></button>
                                        &nbsp;&nbsp;&nbsp;I Aggree With <a role="button" href="#TabsModal" data-toggle="modal">Terms &amp; Conditions</a>
                                    </label>
                                    <br />

                                    <button class=" btn  " type="submit">Register Now&nbsp;&nbsp;&nbsp;<i class=" icon-chevron-sign-right"></i></button>
                                }
                      </div>
                              
                            <div class="span3">
                                <h4><i class="icon-expand-alt"></i>&nbsp;&nbsp;Social</h4>
                                <div class="socials clearfix">
                                    <a class="icon-facebook facebook"></a>
                                    <a class="icon-twitter twitter"></a>
                                    <a class="icon-google-plus google-plus"></a>
                                    <a class="icon-pinterest pinterest"></a>
                                    <a class="icon-linkedin linked-in"></a>
                                    <a class="icon-github github"></a>
                                </div>
                            </div>
                            <div class="span4">
                                <h4><i class="icon-question"></i>&nbsp;&nbsp;Login</h4>
                                <div class="box">
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel.
                                    </p>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit fusce vel sapien elit in.
                                    </p>
                                </div>
                                <div class="box">
                                    Already Have An Account.<br />
                                    Click Here For <a href="#" data-toggle="tab">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tab-pane" id="panel3">
             
                    </div>

                    <div id="panel4" class="tab-pane">
                     
                    </div>

                </div>

            </div>
        </div>
    </div>
    <!--Start-->
    <div id="TabsModal" class="modal hide fade modal-form" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="row-fluid">
            <div class="span10 offset1">

                <div class="tabbable custom-tabs tabs-animated  flat flat-all hide-label-980 shadow">
                    <ul class="nav nav-tabs">


                        <li><a href="#close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i>&nbsp;<span></span></a></li>
                    </ul>
                    <div style="background: white;text-align: center">
                        <br/><br/>
                            <h1 style="text-align: center; font-family: Calibri; color: darkcyan; text-decoration: underline"><strong>TERMS</strong> & <strong>CONDITIONS</strong></h1>

                            <h3 class="badge:2">TERMS OF USAGE:</h3>
                            <p style="font-size:12px; font-family: Arial">All the material sold on TemplateWorld.com is copyrighted. The copyrights belong to TemplateWorld.com.</p>

                            <h4>1.) IMPORTANT INFORMATION</h4>
                            <p style="font-size:12px; font-family: Arial">
                                You should carefully read the following Terms and Conditions. When you purchase or use our product(s) that means you have read and accepted these Terms and Conditions; releasing TemplateWorld.com of the obligation for issues that may spring up later.

                                <h4>2.) LICENSE</h4>
                            <p style="font-size:12px; font-family: Arial">
                                TemplateWorld.com currently allows you non-exclusive limited license only. This effectively means that you can use the web templates and other products sold through our web site by independent content providers (the "products") in conformity with these Terms of Use and Conditions (the "license") issued by TemplateWorld.com.

                                <h3>MODIFICATIONS</h3>
                            <p style="font-size:12px; font-family: Arial">
                                You are empowered to make all necessary change(s) to the products to suit your designs.

                                <h3>UNAUTHORIZED USE</h3>
                            <p style="font-size:12px; font-family: Arial">CD, DISKETTE & OTHERS Please do NOT place any of our products on a diskette, CD, website or any other medium and offer them for redistribution or resale, without prior penned/written consent from our company.

                            <p style="font-size:12px; font-family: Arial">
                                DANGERS The authorities in charge of TemplateWorld.com have filed its works with various copyright offices throughout the world. If any misuse or distribution of our templates/content is reported or hinted, then it might result in serious penalties. Our WORK is original. We will do everything to protect our rights as well as the work(s). TemplateWorld.com will engage legal action for whatever losses resulting from your abuse of our content.

                                Word of caution: TemplateWorld.com does NOT grant exclusive rights for the items downloaded from our website.
                            </p>>
                            <h3> IMAGE USAGE</h3>
                            <p style="font-size:12px; font-family: Arial">
                                All images used in our website templates are owned by their respective copyright owners. Almost all images are sourced from BigStockPhotos, subsidiary of Shutterstock.

                                You do NOT have rights to use these images unaltered or modified in other templates, websites or projects. Further you do not have rights to resell/license/sub license/lease the images used in our templates in their modified or unaltered forms under any circumstances.
                            </p>
                            <h3> TRANSFERABILITY TERMS</h3>
                            <p style="font-size:12px; font-family: Arial">
                                In absence of written/penned permission from TemplateWorld.com, you may not sub-license, assign, or transfer this license to anyone else.

                                <h3> OWNERSHIP CONDITIONS</h3>
                            <p style="font-size:12px; font-family: Arial">
                                All the products displayed in this website are property of TemplateWorld.com.

                                You understand that TemplateWorld.com is not responsible for the content, quality or state of any INFORMATION, product or service offered in this website.

                                You may not claim either intellectual or undivided ownership to any of our products, changed or unadapted.

                                TemplateWorld.com products are provided on "as is" basis without warranty of any kind, either COMMUNICATED or understood.

                                TemplateWorld.com formally and explicitly denies any and all warranties, communicated and or understood, including (but not limited to) any warranties of accuracy, reliability, state or worthiness for a particular purpose by any vendor, customer, or associate offering INFORMATION, products, any services linked to the TemplateWorld.com website.

                                Please accept full responsibility to assess independently the accuracy, completeness, quality and usefulness of any INFORMATION or other content as displayed in this website. So, ensure that all your doubts are clarified before opting to purchase any product.

                                The user/customer should understand that TemplateWorld.com is not accountable, and does not have any liability to any such user, with respect to any information, product or service offered by others who are linked to the TemplateWorld.com website. This essentially means that the website should not be held responsible for any external links that originate in this website.

                                TemplateWorld.com shall not be liable for any damages allegedly sustained arising from use of the information, products, and services. We are not responsible for any of them.
                            </p>
                            <h3>  REFUND POLICY</h3>
                            <p style="font-size:12px; font-family: Arial">
                                TemplateWorld.com wishes to inform its users/customers that once an item is downloaded we are unable to offer any refund. Refunds are strictly company policy and any such claims will be granted entirely at the free will of the company MANAGEMENT.
                            </p>
                            <h3>MEMBER ACCESS AND DOWNLOADS</h3>
                            <p style="font-size:12px; font-family: Arial">
                                As a member your username and password is for your personal use only.

                                If we discover that you share or give out your username and password, we will end your membership account with us at once.

                                <strong style="color:red">
                                    CAUTION: In the event as stated above, we may ban your IP address, credit card and email address may be banned for a period of up to 5 years.
                                </strong>
                                You are also not allowed to use a spider, web crawler, or other same automated tools to download the content from our site.
                            </p>
                            <h3>LIMITATION OF LIABILITY</h3>
                            <p style="font-size:12px; font-family: Arial">
                                All the members must know that TemplateWorld.com will not accept or have any liability for any action by TemplateWorld.com or its affiliates and licensees with respect to the use of content.

                                TemplateWorld.com shall not be liable to any Member for any indirect, incidental, special or consequential damages (including, without limitation, damages or loss of business, lost profits, business interruption, loss of business information, or any other pecuniary loss).

                                The above clause holds true even if TemplateWorld.com has been advised of the possibility of such damages, in CONNECTION with TemplateWorld.com or

                                With any other product or service provided by TemplateWorld.com or,

                                Resulting from the use of or the inability to use the Website or,

                                Any transaction entered into through or from TemplateWorld.com or,

                                From unauthorized access to or alteration of your transmissions, data, or account.
                            </p>
                            <h3>GOVERNING AUTHORITY</h3>
                            <p style="font-size:12px; font-family: Arial">
                                Please Note:

                                While dealing with disputes of every nature, with regard to any services offered by TemplateWorld.com or any term listed in this policy, the only jurisdiction that shall be APPLIED in ascertaining liability is the court situated in Hyderabad, India.

                                The plaintiff in this case a user/customer of TemplateWorld.com must understand that he/she will have to agree to compensate TemplateWorld.com for its legal fees, costs and disbursements in an event that it is obligated to go to court, rather than arbitration if TemplateWorld.com is successful. This process might be taken by TemplateWorld.com to enforce any of its rights, or to collect any fees.

                                You agree that the Courts of Hyderabad, India are the agreed and appropriate forums for any such suit, and consent to service of process by registered mail or overnight courier with proof of delivery.
                            </p>
                            <h3>SEVERABILITY</h3>
                            <p style="font-size:12px; font-family: Arial">
                                This clause allows that any portion or term of this agreement if found to be unenforceable will not affect the validity of the rest. This means that the agreement will remain effective and enforceable on its remaining terms and conditions.

                                <h3>DENIAL OF SERVICE</h3>
                                TemplateWorld.com reserves the right to refuse, cancel, or suspend service at our free will.
                            </p>
                            <p style="font-size:12px; font-family: Arial;color:salmon">
                                <strong>
                                    IMPORTANT NOTES: The template(s) and digital work(s) shown on the website have been filed with the all major International Copyright Offices. It is a necessary evil that we had to opt for to prevent misuse or illegal distribution. If it is found that any individual or group has misused or distributed our digital WORKS without prior written consent from us, we will seek damages. This means a suit will be filed and the individual(s) you will be prosecuted.
                                </strong>
                            </p>
                        
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- END-->
    <div class="divider"></div>
    <script src="~/TmpLogin/scripts/jquery-1.9.1.min.js"></script>
    <script src="~/TmpLogin/scripts/bootstrap.min.js"></script>
    <script src="~/TmpLogin/scripts/tabs-addon.js"></script>
    <script type="text/javascript" src="~/Scripts/backsketch.js"></script>
    <script>
        $.backstretch("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQUk8_sq41VOrU1i_M_IE1Yox_nQlS-crk0fBeu60yeznCDYcNwNw");
    </script>

</body>
</html>
