@model MiPrimerMVC.Controllers.ClassifiedsController.ClassiModel
@{
    ViewBag.Title = "Sales|JMID: Advanced Search";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}
<link href="~/Content/MyClassifieds.css" rel="stylesheet" />

<div class="row">
    <div class="col-md-8">
        <h1>Advanced Search Classifieds</h1>
    </div>
</div><div class="container">
    <div class="col-xs-8 col-xs-offset-2">
        
        @{
            var dropdownItems = new List<SelectListItem>();
            dropdownItems.AddRange(new[]{
                                    new SelectListItem { Text = "Automoviles" },
                                    new SelectListItem { Text = "Instruments" },
                                    new SelectListItem { Text = "VG. Consoles" },
                                    new SelectListItem { Text = "Technology" }});
            ViewData.Add("DropDownItems", dropdownItems);
        }

        @using (Html.BeginForm("AdvancedSearch", "Classifieds", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {


        
            <table class="table table-hover">
                <tbody>
                    <tr>
                        <td>
                            @Html.DropDownListFor(x => x.Cas.Category, ViewData["DropDownItems"] as List<SelectListItem>)
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Cas.Title, new { @class = "form-control", placeholder = "Title" })
                        </td>
                        <td>
                            @Html.TextBoxFor(x => x.Cas.Description, new { @class = "form-control", placeholder = "Description" })
                        </td>
                        <td>
                            <button type="submit" class="btn btn-primary btn-lg">Submit</button>

                        </td>
                    </tr>
                </tbody>
            </table>
        }
    </div>
</div>

<hr>
@if (@Model.myClassifiedsList.Count > 0)
{
    foreach (var x in Model.myClassifiedsList)
    {
         <div class="col-md-6">
             
             <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                 <div class="media">
                     <a class="pull-left" href="#" target="_parent">
                         <img alt="image" style="width: 150px; height: 140px" class="img-responsive" src="@x.UrlImage">
                     </a>

                     <div class="clearfix visible-sm"></div>

                     <div class="media-body fnt-smaller">
                         <a href="#" target="_parent"></a>

                         <h4 class="media-heading">
                             <a href="#" target="_parent">@Html.ActionLink(@x.Article, "Detailed", "Classifieds", new { @id = x.Id }, null) <small class="pull-right">@x.Location</small></a>
                         </h4>


                         <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                             <li>@x.ArticleModel</li>

                             <li style="list-style: none">|</li>

                             <li>@x.Category</li>

                             <li style="list-style: none">|</li>

                             <li>$@x.Price</li>
                         </ul>

                         <p class="hidden-xs">
                             @x.Description
                             ...
                         </p>
                         <span class="fnt-smaller fnt-lighter fnt-arial">
                                 @x.Email
                                 <small>@x.PostedDate</small>
                          </span>
                     </div>
                 </div>

             </div><!-- End Listing-->

         </div>
    }
}
else
{
   <h2 style="color:teal; text-decoration: underline"><strong><i class="fa fa-warning"></i>[ERROR: 404] Item not Found.!</strong></h2>
}