@model MiPrimerMVC.Controllers.ClassifiedsController.ClassiModel
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-brand-centered">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="navbar-brand navbar-brand-centered">Category</div>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-brand-centered">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Automoviles", "ByCategory", "Home", new { @id = 1 }, null)</li>
                <li>@Html.ActionLink("", "ByCategory", "Home", new { @id = 2 }, null)</li>
                <li>@Html.ActionLink("Services", "ByCategory", "Home", new { @id = 3 }, null)</li>
                <li>@Html.ActionLink("Vehicles", "ByCategory", "Home", new { @id = 4 }, null)</li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<hr>

@if (@Model.Itemses.Count > 0)
{
    foreach (Items ite in Model.Itemses)
    {
        <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.1.0/css/font-awesome.min.css" />
        <div class="container">
            <div class="well">
                <div class="media">
                    <a class="pull-left">
                        @if (@ite.ImagesUrl != null)
                        {
                            <img class="media-object" src="@ite.ImagesUrl" width="350" height="150">
                        }
                        else
                        {
                            <img class="media-object" src="http://intentionaldesign.ca/wp-content/themes/gonzo/images/no-image-blog-one.png" width="350" height="150">

                        }
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">@Html.ActionLink(@ite.Title, "DetailedItem", "Home", new { @id = ite.Id }, null)</h4>
                        <p>
                            @ite.Description
                        </p>
                        <ul class="list-inline list-unstyled">
                            <li>Price: @ite.Price </li>
                            <li>|</li>
                            <li>Category: @ite.Category</li>
                            <li>|</li>
                            <li>Business Type: @ite.BusinessType</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
}
else
{
    <h2>No Items in this category</h2>
}