@model MiPrimerMVC.Models.ClassifiedModel

@{
    ViewBag.Title = "Classifieds";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
    @{
        var dropdownItems = new List<SelectListItem>();
        dropdownItems.AddRange(new[]{
                                    new SelectListItem() { Text = "Automoviles" },
                                    new SelectListItem() { Text = "Instruments" },
                                    new SelectListItem() { Text = "VG. Consoles" },
                                    new SelectListItem() { Text = "Technology" }});
        ViewData.Add("DropDownItems", dropdownItems);

        var dropdownItems2 = new List<SelectListItem>();
        dropdownItems2.AddRange(new[]{
                                    new SelectListItem() { Text = "Sale" },
                                    new SelectListItem() { Text = "Rent" }
                                    });
        ViewData.Add("DropDownItems2", dropdownItems2);
    }
    
        @using (Html.BeginForm("CreateClassified", "Classifieds", null, FormMethod.Post, new { @class = "form-horizontal" }))
        {

            <fieldset>
                <legend><i class="fa fa-cloud"></i>Add a new Classified</legend>
                <!--Title-->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Article</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.Article, new { @class = "form-control", type = "text", placeholder = "Article Title", @required = "required" })
                    </div>
                </div>
                <!--END Title-->
                <!--Type-->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Business Type</label>
                    <div class="col-lg-10">
                        @Html.DropDownListFor(x => x.ArticleModel, ViewData["DropDownItems2"] as List<SelectListItem>, new { @class = "dropdown", type = "text", @style = "width:150px" })
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Checkbox
                            </label>
                        </div>
                    </div>
                </div>
                <!--End Type-->
                <!--Category-->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Category</label>
                    <div class="col-lg-10">
                        @Html.DropDownListFor(x => x.Category, ViewData["DropDownItems"] as List<SelectListItem>, new { @class = "dropdown", type = "text", @style = "width:150px" })
                        <div class="checkbox">
                            <label>
                                <input type="checkbox"> Checkbox
                            </label>
                        </div>
                    </div>
                </div>
                <!-- End Category-->
                <!--Location-->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Location</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.Location, new { @class = "form-control", type = "text", placeholder = "State | Country", @required = "required"})
                    </div>
                </div>
                <!--END Location-->
                <!--Price-->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Article</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control", type = "number", placeholder = "$ 00.00", @required = "required" })
                    </div>
                </div>
                <!--END Price-->
                <!--img URL-->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Image URL</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.UrlImage, new { @class = "form-control", type = "text", placeholder = "Image URL here", @required = "required" })
                    </div>
                </div>
                <!--END img URL-->
                <!--vd URL-->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Video URL</label>
                    <div class="col-lg-10">
                        @Html.TextBoxFor(x => x.UrlVideo, new { @class = "form-control", type = "text", placeholder = "Video URL here", @required = "required" })
                    </div>
                </div>
                <!--END vd URL-->
                <!--Description-->
                <div class="form-group">
                    <label class="col-lg-2 control-label">Description</label>
                    <div class="col-lg-10">
                        @Html.TextAreaFor(x => x.Description, new { @class = "form-control", rows = "3", @required = "required" })
                        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
                    </div>
                </div>
                <!--End Description-->
                <button class=" btn " type="submit">Create&nbsp;&nbsp;&nbsp;<i class=" icon-chevron-sign-right"></i></button>

            </fieldset>
        }
    
</body>
</html>