@using Domain.Entities
@model MiPrimerMVC.Controllers.ClassifiedsController.ClassiModel

@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<!DOCTYPE html>


<html>
    <head><title></title>
        <link href="~/Content/MyClassifieds.css" rel="stylesheet" />
</head>
    <body>
        <div class="container-fluid" style="background-color: #e8e8e8">
            <div class="container container-pad" id="property-listings">

                <div class="row">
                    <div class="col-md-8">
                        <h1>Simple Search Classifieds</h1>
                    </div>
                </div>
                @using (Html.BeginForm("SimpleSearch", "Classifieds", null, FormMethod.Post, new { @class = "form-horizontal" }))
                {
                    <div class="row-fluid">
                        <p> Seacrh by [Title]:</p>@Html.TextBoxFor(x => x.Cas.Title, new { @class = "form-control", placeholder = "Title" })
                    <button type="submit" class="btn-theme">Search</button>
                    </div>
                    
                }
            
            @if (Model.myClassifiedsList.Count > 0)
            {
                <div class="row">
                    @foreach (Classifieds x in Model.myClassifiedsList)
                    {
                        <div class="col-md-6">
                            <!-- Begin Listing: 609 W GRAVERS LN-->
                            <div class="brdr bgc-fff pad-10 box-shad btm-mrg-20 property-listing">
                                <div class="media">
                                    <a class="pull-left" href="#" target="_parent">
                                        <img alt="image" style="width: 150px; height: 140px" class="img-responsive" src="@x.UrlImage">
                                    </a>

                                    <div class="clearfix visible-sm"></div>

                                    <div class="media-body fnt-smaller">
                                        <a href="#" target="_parent"></a>

                                        <h4 class="media-heading">
                                            <a href="#" target="_parent">@Html.ActionLink(@x.Article, "Detailed", "Classifieds", new {@id = x.Id}, null) <small class="pull-right">@x.Location</small></a>
                                        </h4>


                                        <ul class="list-inline mrg-0 btm-mrg-10 clr-535353">
                                            <li>@x.ArticleModel</li>

                                            <li style="list-style: none">|</li>

                                            <li>@x.Category</li>

                                            <li style="list-style: none">|</li>

                                            <li>$@x.Price</li>
                                        </ul>

                                        <p class="hidden-xs">
                                            @x.Description
                                            ...
                                        </p><span class="fnt-smaller fnt-lighter fnt-arial">
                                                @x.Email
                                                <small>@x.PostedDate</small>
                                            </span>
                                    </div>
                                </div>
                            </div><!-- End Listing-->

                        </div>
                    }
                </div>
                <!-- End row -->
            }
            else
            {
                   <h2 style="color:teal; text-decoration: underline"><strong><i class="fa fa-warning"></i>[ERROR: 404] Item not Found.!</strong></h2>

            }
            </div><!-- End container -->
        </div>
    </body>
</html>