@using Domain.Entities
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta name="keywords" content="admin, dashboard, bootstrap, template, flat, modern, theme, responsive, fluid, retina, backend, html5, css, css3">
    <meta name="description" content="">
    <meta name="author" content="ThemeBucket">
    <link rel="shortcut icon" href="#" type="image/png">
    <title>Sales|JMID</title>
    <!--icheck-->
    <link href="~/adminX/js/iCheck/skins/minimal/minimal.css" rel="stylesheet">
    <link href="~/adminX/js/iCheck/skins/square/square.css" rel="stylesheet">
    <link href="~/adminX/js/iCheck/skins/square/red.css" rel="stylesheet">
    <link href="~/adminX/js/iCheck/skins/square/blue.css" rel="stylesheet">
    <link href="~/adminX/css/jquery.stepy.css" rel="stylesheet">
    <link href="~/Content/font-awesome.css" rel="stylesheet"/>
    <!--common-->
    <link href="~/adminX/css/style.css" rel="stylesheet">
    <link href="~/adminX/css/style-responsive.css" rel="stylesheet">


    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="sticky-header">
    <section>
        <!-- left side start-->
        <div class="left-side sticky-left-side">
            <!--logo and iconic logo start-->
            <div class="logo">
                <a href="#"><img src="http://www.eatlogos.com/alphabet_logos/png/m_letter_alphabit_vector_logo.png" style="width: 150px; height: 150px"alt=""></a>
            </div>
            <div class="logo-icon text-center">
                <a href="#"><img src="images/logo_icon.png" alt=""></a>
            </div>
            <!--logo and iconic logo end-->
            <div class="left-side-inner">
                <!-- visible to small devices only -->
                <div class="visible-xs hidden-sm hidden-md hidden-lg">
                    <div class="media logged-user">
                        <img alt="" src="images/photos/user-avatar.png" class="media-object">
                        <div class="media-body">
                            <h4><a href="#">@Context.User.Identity.Name</a></h4>
                            <span>"Welcome..."</span>
                        </div>
                    </div>
                    <h5 class="left-nav-title">Account Information</h5>
                    <ul class="nav nav-pills nav-stacked custom-nav">
                        <li><a href="~/AccountLogin/Signout"><i class="fa fa-sign-out"></i> <span>Sign Out</span></a></li>
                    </ul>
                </div>
                <!--sidebar nav start-->
                <ul class="nav nav-pills nav-stacked custom-nav">
                    <li class="active"><a href="~/Classifieds/MostVisited"><i class="fa fa-home"></i> <span>HOME</span></a></li>
                    <li>
                        <a href="~/AccountLogin/Profile"><i class="fa fa-user"></i> <span>Profile</span></a>
                    </li>
                    <li class="menu-list">
                        <a href="~/Classifieds/MyClassifieds"><i class="fa fa-newspaper-o"></i> <span>Classifieds</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="~/Classifieds/MyClassifieds"> My Classifieds</a></li>
                            <li><a href="~/Classifieds/CreateClassified"> Create Classified</a></li>
                            <li><a href="~/AccountLogin/ManageClassifieds"> Manage Classifieds</a></li>
                        </ul>
                    </li>
                   <li class="menu-list">
                        <a href=""><i class="fa fa-envelope"></i> <span>Mail</span></a>
                        <ul class="sub-menu-list">
                            <li><a href="~/AccountLogin/ToInbox"> Inbox</a></li>
                            <li><a href="#"> Compose Mail</a></li>
                        </ul>
                    </li>
                    <li><a href="~/FAQ/ManageFaq"><i class="fa fa-question-circle"></i> <span>Manage FAQ</span></a></li>

                                       
                    </ul>
                <!--sidebar nav end-->
            </div>
        </div>
        <!-- left side end-->
        <!-- main content start-->
        <div class="main-content">
            <!-- header section start-->
           @{
               var user = (AccountLogin)Session["User"];

                <div class="header-section">
                    <a class="toggle-btn"><i class="fa fa-bars"></i></a>
                    <div class="menu-right">
                        <ul class="notification-menu">
                            <li>
                                <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                                    <i class="fa fa-envelope-o"></i>
                                    <span class="badge">@user.AccountMessages.ToList().Count</span>
                                </a>
                                <!--Mail Begin-->
                                <div class="dropdown-menu dropdown-menu-head pull-right">
                                    <h5 class="title">You have @user.AccountMessages.ToList().Count Mails </h5>
                                </div>
                            </li>

                            <li>
                                <a href="#" class="btn btn-default dropdown-toggle info-number" data-toggle="dropdown">
                                    <i class="fa fa-bell-o"></i>
                                    <span class="badge">@user.Notifications.ToList().Count</span>
                                </a>
                                <div class="dropdown-menu dropdown-menu-head pull-right">
                                    <h5 class="title">Notifications</h5>
                                    <ul class="dropdown-list normal-list">
                                        @foreach (var x in user.Notifications)
                                        {
                                            if (x.Type == "Report")
                                            {
                                                <li class="new">
                                                    <a href="">
                                                        <span class="label label-danger"><i class="fa fa-ban"></i></span>
                                                        <span class="name">The Classified @x.Name has been reported.  </span>
                                                        <em class="small">@x.Email</em>
                                                    </a>
                                                </li>
                                            }
                                            else if (x.Type == "Subs")
                                            {
                                                <li class="new">
                                                    <a href="">
                                                        <span class="label label-success"><i class="fa fa-eye"></i></span>
                                                        <span class="name">@x.Name is now following...  </span>
                                                        <em class="small">@x.Email</em>
                                                    </a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="new">
                                                    <a href="">
                                                        <span class="label label-warning"><i class="fa fa-bolt"></i></span>
                                                        <span class="name">@x.Name has created a new classified. </span>
                                                        <em class="small">@x.Email</em>
                                                    </a>
                                                </li>
                                            }
                                        }
                                        <li class="new"><a href="">See All Notifications</a></li>
                                    </ul>
                                </div>
                            </li>
                            <li>
                                <a href="#" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                    <img src="@user.UserInfo.ProfileImg" alt="" />
                                    @user.Name
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-usermenu pull-right">
                                    <li><a href="#"><i class="fa fa-user"></i>  Profile</a></li>
                                    <li><a href="#"><i class="fa fa-cog"></i>  Settings</a></li>
                                    <li><a href="~/AccountLogin/Logout"><i class="fa fa-sign-out"></i> Log Out</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!--notification menu end -->
                </div>
            }

            <!--body wrapper start-->
            <div class="wrapper">
                @RenderBody()
            </div>
            <!--body wrapper end-->
            <!--footer section start-->

            <footer>
                2014 &copy; Sales | JMID
            </footer>
            <!--footer section end-->

        </div>
        <!-- main content end-->
    </section>
    <!-- Placed js at the end of the document so the pages load faster -->
    <script src="~/adminX/js/jquery-1.10.2.min.js"></script>
    <script src="~/adminX/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="~/adminX/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/adminX/js/bootstrap.min.js"></script>
    <script src="~/adminX/js/modernizr.min.js"></script>
    <script src="~/adminX/js/jquery.nicescroll.js"></script>
    
    <!--icheck -->
    <script src="~/adminX/js/iCheck/jquery.icheck.js"></script>
    <script src="~/adminX/js/icheck-init.js"></script>
    <script type="text/javascript" src="~/adminX/js/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>

    <!--common scripts for all pages-->
    <script src="~/adminX/js/scripts.js"></script>
    <script src="~/adminX/js/jquery.validate.min.js"></script>
    <script src="~/adminX/js/jquery.stepy.js"></script>
    <script>
        /*=====STEPY WIZARD====*/
        $(function () {
            $('#default').stepy({
                backLabel: 'Previous',
                block: true,
                nextLabel: 'Next',
                titleClick: true,
                titleTarget: '.stepy-tab'
            });
        });
        /*=====STEPY WIZARD WITH VALIDATION====*/
        $(function () {
            $('#stepy_form').stepy({
                backLabel: 'Back',
                nextLabel: 'Next',
                errorImage: true,
                block: true,
                description: true,
                legend: false,
                titleClick: true,
                titleTarget: '#top_tabby',
                validate: true
            });
            $('#stepy_form').validate({
                errorPlacement: function (error, element) {
                    $('#stepy_form div.stepy-error').append(error);
                },
                rules: {
                    'name': 'required',
                    'email': 'required'
                },
                messages: {
                    'name': {
                        required: 'Name field is required!'
                    },
                    'email': {
                        required: 'Email field is requerid!'
                    }
                }
            });
        });
    </script>
</body>
</html>


